<html>
<!--
Page that allows users to submit office hours
Author: Zack Meath
-->
<head>
	<title>
		Find My Professor
	</title>
	<link rel="stylesheet" type="text/css" href="/static/FMPstyle.css">
</head>

<body>
	<center><h1> <a href="/">Find My Professor</a> </h1></center>
	<h2>{{name}}:</h2>
	<form method = "post" action = "/addofficehourssubmit/{{name}}">
	Day: <input type="text" name="day"><br>
	Start Time: <input type="text" name="starttime"><br>
	End Time: <input type="text" name="endtime"><br>

	<input type="submit" value="Submit" />
	</form>